table {
  // overflow-x: scroll;
  /* Optional: Set a maximum table width */
  max-width: 800px;
}

table,
th,
td {
  border: 1px solid black;
}

.other-container {
  border: 1px solid black;
  height: 100px;
  width: 100%;
}

.scroll-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent content from wrapping */
  position: relative; /* Establish positioning context */
  height: calc(100vh - 52px);
}

.sticky-element {
  position: sticky;
  left: 0; /* Stick to the top of .scroll-container */
  background-color: #f1f1f1; /* Example background color */
  z-index: 100; /* Ensure it's above other content */
  padding: 10px; /* Adjust padding as needed */
}

th:first-child,
td:first-child {
  position: sticky;
  left: 0;
  background-color: #f1f1f1; /* Example background color */
}

table {
  table-layout: fixed;
  width: 100%;
}

th,
td {
  white-space: nowrap;
}
