<div class="scroll-container">

    <div class="sticky-element">
      <div class="other-container"></div>
    </div>
    <div class="content">
      <!-- Horizontally scrollable content -->
      <table>
        <colgroup>
          <col style="width: 150px; min-width: 150px" />
          <col style="width: 200px; min-width: 200px" />
          <col style="width: 300px; min-width: 300px" />
          <col style="width: 150px; min-width: 150px" />
          <col style="width: 200px; min-width: 200px" />
          <col style="width: 300px; min-width: 300px" />
          <col style="width: 300px; min-width: 300px" />
        </colgroup>
        <tr>
          <th>Header 1</th>
          <th>Header 2</th>
          <th>Header 3</th>
          <th>Header 4</th>
          <th>Header 5</th>
          <th>Header 6</th>
          <th>Header 7</th>
        </tr>
        <tr>
          <td>Row 1 Col 1</td>
          <td>Row 1 Col 2</td>
          <td>Row 1 Col 3</td>
          <td>Row 1 Col 4</td>
          <td>Row 1 Col 5</td>
          <td>Row 1 Col 6</td>
          <td>Row 1 Col 7</td>
        </tr>
        <tr>
          <td>Row 1 Col 1</td>
          <td>Row 1 Col 2</td>
          <td>Row 1 Col 3</td>
          <td>Row 1 Col 4</td>
          <td>Row 1 Col 5</td>
          <td>Row 1 Col 6</td>
          <td>Row 1 Col 7</td>
        </tr>
        <tr>
          <td>Row 1 Col 1</td>
          <td>Row 1 Col 2</td>
          <td>Row 1 Col 3</td>
          <td>Row 1 Col 4</td>
          <td>Row 1 Col 5</td>
          <td>Row 1 Col 6</td>
          <td>Row 1 Col 7</td>
        </tr>
        <tr>
          <td>Row 1 Col 1</td>
          <td>Row 1 Col 2</td>
          <td>Row 1 Col 3</td>
          <td>Row 1 Col 4</td>
          <td>Row 1 Col 5</td>
          <td>Row 1 Col 6</td>
          <td>Row 1 Col 7</td>
        </tr>
        <tr>
          <td>Row 1 Col 1</td>
          <td>Row 1 Col 2</td>
          <td>Row 1 Col 3</td>
          <td>Row 1 Col 4</td>
          <td>Row 1 Col 5</td>
          <td>Row 1 Col 6</td>
          <td>Row 1 Col 7</td>
        </tr>
        <tr>
          <td>Row 1 Col 1</td>
          <td>Row 1 Col 2</td>
          <td>Row 1 Col 3</td>
          <td>Row 1 Col 4</td>
          <td>Row 1 Col 5</td>
          <td>Row 1 Col 6</td>
          <td>Row 1 Col 7</td>
        </tr>
      </table>
    </div>
    <div class="sticky-element">
      <div class="other-container"></div>
      <div class="other-container"></div>
      <div class="other-container"></div>
      <div class="other-container"></div>
      <div class="other-container"></div>
    </div>

</div>
