<div class="flex">
  <section>
    <form class="m-4 w-[500px]" [formGroup]="formGroupName">
      <div class="flex items-center gap-4 mb-2">
        <label class="w-[160px]" for="productgroup">Nhóm hàng hóa:</label>
        <input
          type="text"
          class="input input-bordered w-full max-w-xs"
          id="productgroup"
          formControlName="productgroup"
        />
      </div>

      <div class="flex items-center gap-4 mb-2">
        <label class="w-[160px]" for="hscode">Mã HS:</label>
        <input
          type="text"
          class="input input-bordered w-full max-w-xs"
          id="hscode"
          formControlName="hscode"
        />
      </div>

      <div class="flex items-center gap-4 mb-2">
        <label class="w-[160px]" for="productname">Tên hàng hóa:</label>
        <textarea
          class="textarea textarea-bordered w-full max-w-xs"
          id="productname"
          formControlName="productname"
        ></textarea>
      </div>

      <div class="flex items-center gap-4 mb-2">
        <label class="w-[160px]" for="typesymbol">Ký hiệu kiểu loại:</label>
        <textarea
          class="textarea textarea-bordered w-full max-w-xs"
          id="typesymbol"
          formControlName="typesymbol"
        ></textarea>
      </div>

      <div class="flex items-center gap-4 mb-2">
        <label class="w-[160px]" for="specifications">Thông số kỹ thuật:</label>
        <textarea
          class="textarea textarea-bordered w-full max-w-xs"
          id="specifications"
          formControlName="specifications"
        ></textarea>
      </div>

      <div class="flex items-center gap-4 mb-2">
        <label class="w-[160px]" for="countryofmanufacture"
          >Xuất xứ, nước sản xuất:</label
        >
        <textarea
          class="textarea textarea-bordered w-full max-w-xs"
          id="countryofmanufacture"
          formControlName="countryofmanufacture"
        ></textarea>
      </div>

      <div class="flex items-center gap-4 mb-2">
        <label class="w-[160px]" for="producer">Nhà sản xuất:</label>
        <input
          type="text"
          class="input input-bordered w-full max-w-xs"
          id="producer"
          formControlName="producer"
        />
      </div>

      <div class="flex items-center gap-4 mb-2">
        <label class="w-[160px]" for="quantity">Số lượng:</label>
        <input
          type="text"
          class="input input-bordered w-full max-w-xs"
          id="quantity"
          formControlName="quantity"
        />
      </div>

      <div class="flex items-center gap-4 mb-2">
        <label class="w-[160px]" for="unit">Đơn vị:</label>
        <input
          type="text"
          class="input input-bordered w-full max-w-xs"
          id="unit"
          formControlName="unit"
        />
      </div>

      <div class="flex justify-center gap-2">
        <button class="btn btn-outline btn-success" (click)="save()">
          Lưu
        </button>
        <button
          class="btn btn-outline btn-success"
          type="submit"
          (click)="export()"
        >
          Tạo file excel
        </button>
      </div>
    </form>
  </section>

  <section>
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th *ngFor="let item of this.valuesTable">{{ item }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hover" *ngFor="let item of tables; index as index">
            <th>{{ index }}</th>
            <td *ngFor="let key of keysTable">{{ item[key] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
